
body {
      background-color: #a7b9d2;
      color: #3e5a7b;
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em
      }
      
      nav#menuA {padding:2vw; }

/* This means: style the <nav id="menu"> element. */
.button { 
  border:2px; 
  border-style:solid;
  border-color:white; 
  padding:1vw; 
  background-color:#BDEDFF; 
  color:blue; 
  width:1%; 
  display:inline;
  border-radius: 40px;
 }
 
/* This means: style ANY element that as an @class set to button, as in */
/* <li class="button"> or <p class="button"> or <div class="button">. */

body section.gallery {background-color:#C2DFFF ; background-image: none; padding:2em; margin:auto;}


/* ebb: This is a comment in CSS: 
 * Notice that the properties I set on the <body> element get passed down to elements inside it. So all my text is the color and font that I set here. 
 * If I want to change the styling of internal elements, I can just enter their names and apply CSS properties to them, following CSS syntax. 
 */

figure {width:30%; margin:auto; padding-top: 0.5vw; padding-bottom: 1vw;}
figcaption {font-style: italic; font-size: smaller;}
img.photo {max-width:500px; width:100%}
section.gallery_menu {background-color:#C2DFFF ; background-image: none; padding:2em; margin:auto;}
section.Corpus_Analysis {background-color:#438D80 ;background-image: none; padding: 2em; margin:auto}
section.Corpus_Analysis_menu {background-color:#306754; background-image: none; padding: 2em; margin:auto}
section.Corpus_Analysis {color:#FFFFFF;
      font-family: arial, helvetica, sans-serif; 
      padding:15px; 
      line-height:1.4em}
section.Home_Buttons {background-color:#C2DFFF;background-image: none; padding: 2em; margin:auto}



